In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [6]:
irisDataset = pd.read_csv('iris.csv',delimiter=',', header=0)

In [13]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            7.0           3.2            4.7           1.4        0
1   2            6.4           3.2            4.5           1.5        0
2   3            6.9           3.1            4.9           1.5        0
3   4            5.5           2.3            4.0           1.3        0
4   5            6.5           2.8            4.6           1.5        0

In [8]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [11]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            7.0           3.2            4.7           1.4        0
1   2            6.4           3.2            4.5           1.5        0
2   3            6.9           3.1            4.9           1.5        0
3   4            5.5           2.3            4.0           1.3        0
4   5            6.5           2.8            4.6           1.5        0

In [12]:
print(irisDataset)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    1            7.0           3.2            4.7           1.4        0
1    2            6.4           3.2            4.5           1.5        0
2    3            6.9           3.1            4.9           1.5        0
3    4            5.5           2.3            4.0           1.3        0
4    5            6.5           2.8            4.6           1.5        0
5    6            5.7           2.8            4.5           1.3        0
6    7            6.3           3.3            4.7           1.6        0
7    8            4.9           2.4            3.3           1.0        0
8    9            6.6           2.9            4.6           1.3        0
9   10            5.2           2.7            3.9           1.4        0
10  11            5.0           2.0            3.5           1.0        0
11  12            5.9           3.0            4.2           1.5        0
12  13            6.0           2.2            4.0           1.0        0
13  14            6.1           2.9            4.7           1.4        0
14  15            5.6           2.9            3.6           1.3        0
15  16            6.7           3.1            4.4           1.4        0
16  17            5.6           3.0            4.5           1.5        0
17  18            5.8           2.7            4.1           1.0        0
18  19            6.2           2.2            4.5           1.5        0
19  20            5.6           2.5            3.9           1.1        0
20  21            5.9           3.2            4.8           1.8        0
21  22            6.1           2.8            4.0           1.3        0
22  23            6.3           2.5            4.9           1.5        0
23  24            6.1           2.8            4.7           1.2        0
24  25            6.4           2.9            4.3           1.3        0
25  26            6.6           3.0            4.4           1.4        0
26  27            6.8           2.8            4.8           1.4        0
27  28            6.7           3.0            5.0           1.7        0
28  29            6.0           2.9            4.5           1.5        0
29  30            5.7           2.6            3.5           1.0        0
30  31            5.5           2.4            3.8           1.1        0
31  32            5.5           2.4            3.7           1.0        0
32  33            5.8           2.7            3.9           1.2        0
33  34            6.0           2.7            5.1           1.6        0
34  35            5.4           3.0            4.5           1.5        0
35  36            6.0           3.4            4.5           1.6        0
36  37            6.7           3.1            4.7           1.5        0
37  38            6.3           2.3            4.4           1.3        0
38  39            5.6           3.0            4.1           1.3        0
39  40            5.5           2.5            4.0           1.3        0
40  41            5.5           2.6            4.4           1.2        0
41  42            6.1           3.0            4.6           1.4        0
42  43            5.8           2.6            4.0           1.2        0
43  44            5.0           2.3            3.3           1.0        0
44  45            5.6           2.7            4.2           1.3        0
45  46            5.7           3.0            4.2           1.2        0
46  47            5.7           2.9            4.2           1.3        0
47  48            6.2           2.9            4.3           1.3        0
48  49            5.1           2.5            3.0           1.1        0
49  50            5.7           2.8            4.1           1.3        0

In [15]:
irisDataset = irisDataset.drop(labels="Id",axis=1)

In [16]:
print(irisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0             7.0           3.2            4.7           1.4        0
1             6.4           3.2            4.5           1.5        0
2             6.9           3.1            4.9           1.5        0
3             5.5           2.3            4.0           1.3        0
4             6.5           2.8            4.6           1.5        0
5             5.7           2.8            4.5           1.3        0
6             6.3           3.3            4.7           1.6        0
7             4.9           2.4            3.3           1.0        0
8             6.6           2.9            4.6           1.3        0
9             5.2           2.7            3.9           1.4        0
10            5.0           2.0            3.5           1.0        0
11            5.9           3.0            4.2           1.5        0
12            6.0           2.2            4.0           1.0        0
13            6.1           2.9            4.7           1.4        0
14            5.6           2.9            3.6           1.3        0
15            6.7           3.1            4.4           1.4        0
16            5.6           3.0            4.5           1.5        0
17            5.8           2.7            4.1           1.0        0
18            6.2           2.2            4.5           1.5        0
19            5.6           2.5            3.9           1.1        0
20            5.9           3.2            4.8           1.8        0
21            6.1           2.8            4.0           1.3        0
22            6.3           2.5            4.9           1.5        0
23            6.1           2.8            4.7           1.2        0
24            6.4           2.9            4.3           1.3        0
25            6.6           3.0            4.4           1.4        0
26            6.8           2.8            4.8           1.4        0
27            6.7           3.0            5.0           1.7        0
28            6.0           2.9            4.5           1.5        0
29            5.7           2.6            3.5           1.0        0
30            5.5           2.4            3.8           1.1        0
31            5.5           2.4            3.7           1.0        0
32            5.8           2.7            3.9           1.2        0
33            6.0           2.7            5.1           1.6        0
34            5.4           3.0            4.5           1.5        0
35            6.0           3.4            4.5           1.6        0
36            6.7           3.1            4.7           1.5        0
37            6.3           2.3            4.4           1.3        0
38            5.6           3.0            4.1           1.3        0
39            5.5           2.5            4.0           1.3        0
40            5.5           2.6            4.4           1.2        0
41            6.1           3.0            4.6           1.4        0
42            5.8           2.6            4.0           1.2        0
43            5.0           2.3            3.3           1.0        0
44            5.6           2.7            4.2           1.3        0
45            5.7           3.0            4.2           1.2        0
46            5.7           2.9            4.2           1.3        0
47            6.2           2.9            4.3           1.3        0
48            5.1           2.5            3.0           1.1        0
49            5.7           2.8            4.1           1.3        0

In [17]:
irisDataset = irisDataset.to_numpy()

In [18]:
print(irisDataset)

[[7.  3.2 4.7 1.4 0. ]
 [6.4 3.2 4.5 1.5 0. ]
 [6.9 3.1 4.9 1.5 0. ]
 [5.5 2.3 4.  1.3 0. ]
 [6.5 2.8 4.6 1.5 0. ]
 [5.7 2.8 4.5 1.3 0. ]
 [6.3 3.3 4.7 1.6 0. ]
 [4.9 2.4 3.3 1.  0. ]
 [6.6 2.9 4.6 1.3 0. ]
 [5.2 2.7 3.9 1.4 0. ]
 [5.  2.  3.5 1.  0. ]
 [5.9 3.  4.2 1.5 0. ]
 [6.  2.2 4.  1.  0. ]
 [6.1 2.9 4.7 1.4 0. ]
 [5.6 2.9 3.6 1.3 0. ]
 [6.7 3.1 4.4 1.4 0. ]
 [5.6 3.  4.5 1.5 0. ]
 [5.8 2.7 4.1 1.  0. ]
 [6.2 2.2 4.5 1.5 0. ]
 [5.6 2.5 3.9 1.1 0. ]
 [5.9 3.2 4.8 1.8 0. ]
 [6.1 2.8 4.  1.3 0. ]
 [6.3 2.5 4.9 1.5 0. ]
 [6.1 2.8 4.7 1.2 0. ]
 [6.4 2.9 4.3 1.3 0. ]
 [6.6 3.  4.4 1.4 0. ]
 [6.8 2.8 4.8 1.4 0. ]
 [6.7 3.  5.  1.7 0. ]
 [6.  2.9 4.5 1.5 0. ]
 [5.7 2.6 3.5 1.  0. ]
 [5.5 2.4 3.8 1.1 0. ]
 [5.5 2.4 3.7 1.  0. ]
 [5.8 2.7 3.9 1.2 0. ]
 [6.  2.7 5.1 1.6 0. ]
 [5.4 3.  4.5 1.5 0. ]
 [6.  3.4 4.5 1.6 0. ]
 [6.7 3.1 4.7 1.5 0. ]
 [6.3 2.3 4.4 1.3 0. ]
 [5.6 3.  4.1 1.3 0. ]
 [5.5 2.5 4.  1.3 0. ]
 [5.5 2.6 4.4 1.2 0. ]
 [6.1 3.  4.6 1.4 0. ]
 [5.8 2.6 4.  1.2 0. ]
 [5.  2.3 3.3 1.  0. ]
 [5.6 2.7 4.2 1.3 0. ]
 [5.7 3.  4.2 1.2 0. ]
 [5.7 2.9 4.2 1.3 0. ]
 [6.2 2.9 4.3 1.3 0. ]
 [5.1 2.5 3.  1.1 0. ]
 [5.7 2.8 4.1 1.3 0. ]]

In [21]:
dataTraining = np.concatenate((irisDataset[0:20, :], irisDataset[25:45, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[20:25, :], irisDataset[45:50, :]),
                             axis=0)

In [23]:
print(dataTesting)
len(dataTesting)

[[5.9 3.2 4.8 1.8 0. ]
 [6.1 2.8 4.  1.3 0. ]
 [6.3 2.5 4.9 1.5 0. ]
 [6.1 2.8 4.7 1.2 0. ]
 [6.4 2.9 4.3 1.3 0. ]
 [5.7 3.  4.2 1.2 0. ]
 [5.7 2.9 4.2 1.3 0. ]
 [6.2 2.9 4.3 1.3 0. ]
 [5.1 2.5 3.  1.1 0. ]
 [5.7 2.8 4.1 1.3 0. ]]

10

In [24]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:,0:4]
labelTraining = dataTraining[:,4]
labelTesting = dataTesting[:,4]

In [25]:
model = tree.DecisionTreeClassifier()

In [26]:
model = model.fit(inputTraining, labelTraining)

In [27]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi :", hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Hasil Prediksi : [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [28]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar,"data")
print("Prediksi Salah :", prediksiSalah,"data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah)*100, "%")

Prediksi Benar : 10 data
Prediksi Salah : 0 data
Akurasi : 100.0 %